option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: umi/config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: umi.config.settings
    PYTHONPATH: /var/app/current
    PYTHONUNBUFFERED: '1'
    SECRET_KEY: 'django-insecure-esn&0p_^h2rv_mb1j71zgoam+ki61pyk&o01wjd2a_3*we@#8='
    DEBUG: 'True'
