{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'gestion/css/custom_admin.css' %}">
{% endblock %}

{% block branding %}
<div class="custom-header">
    <img src="{% static 'gestion/img/logo-2.png' %}" alt="UMI Logo" class="logo">
    <div class="user-actions">
        {% if request.user.is_authenticated %}
            <span class="welcome">Hola, {{ request.user.username }}</span>
            
            <!-- Botón logout con POST -->
            <form method="post" action="{% url 'admin:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Cerrar sesión</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
