{% extends "admin/base.html" %}
{% load static %}

{% block title %}UMI Admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'gestion/css/dashboard.css' %}">
{% endblock %}

{% block branding %}
<div id="branding">
    <a href="{% url 'custom_admin:index' %}" class="logo-link">
        <img src="{% static 'gestion/img/logo-2.png' %}" alt="UMI Logo" class="logo">
    </a>
</div>
{% endblock %}

{% block usertools %}
<div id="user-tools">
    Bienvenido, <strong>{{ user.get_username }}</strong> |
    <a href="{% url 'admin:password_change' %}">Cambiar contraseña</a> |
    <a href="{% url 'custom_admin:logout' %}">Cerrar sesión</a>
</div>
{% endblock %}
