# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Virtualenv
venv/
env/
ENV/
.venv/
.env/
env

# Migrations
*/migrations/
*/migrations/*
!*/migrations/__init__.py


# Database
*.db
*.sqlite3
*.pdb
*.sql
*.bak

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db