# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
ENV/
*.env
.env

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# pipenv
Pipfile.lock

# MacOS
.DS_Store

# Node modules (if using frontend)
node_modules/

# Build artifacts
build/
dist/
*.egg-info/